body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 37, 37);
    user-select: none;
    cursor: default;
}

.container {
    display: flex;
    width: 40vw;
    height: 100vh;
    max-width: 300px;
    flex-direction: column;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    justify-content: flex-start;
    background-color: rgb(15, 15, 15);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;


}

.botoes {
    width: 100%;
    height: auto;
    min-width: 240px;
    border-radius: 30px 30px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(221, 221, 221);
    padding-top: 30px;
    padding-bottom: 30px;
}

#operacoes {
    height: 20%;
    display: flex;
    width: 60%;
    min-height: 12%;
    max-height: 20%;
    flex-wrap: nowrap;
    gap: 6px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
}


#operacoes button {
    background-color: rgb(37, 37, 37);
    border-radius: 50%;
    color: white;
    max-height: 98%;
    max-width: 20%;
    aspect-ratio: 1/1;
}

#operacoes button.clicada {
    background-color: rgb(58, 167, 130);
}

#numeros {
    display: flex;
    max-height: 80%;
    gap: 10px;
    max-width: 80%;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#numeros button{
    max-width: 28%;
}

button {
    font-size: 20px;
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: rgb(32, 32, 32);
    cursor: pointer;
    filter: blur(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 0.3s ease;

}

button:hover {
    transform: scale(1.1);
    backface-visibility: hidden;
    filter: blur(0);
}



.visor {
    height: 20vh;
    display: flex;
    justify-content: center;
    width: 80%;
}


input {
    font-size: 26px;
    border-radius: 50px;
    width: 100%;
    height: 10vh;
    padding-left: 10px;
    border: none;
    color: rgb(32, 32, 32);
    caret-color: transparent;
    cursor: default;
    user-select: none;
    box-shadow: inset 0 0 6px #dddddd;
    margin-top: 40px;
    margin-bottom: 40px;
}

#bt-igual {
    background-color: rgb(58, 167, 130);
    color: white;
    border: none;
    margin-right: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.cancelar {
    height: 20%;
    width: 40%;
}

#bt-cancelar {
    width: 100%;
    max-width: none;
    aspect-ratio: 3/1;
    background-color: rgb(192, 52, 52);
    color: white;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 16px;
    border-radius: 50px;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
        max-width: none;
        height: 100vh;

    }

    .visor{
        height: 20vh;
    }

    .botoes {
        display: flex;
        flex-wrap: nowrap;
        height: auto;
    }

    #operacoes {
        width: 80%;
        height: 10%;
    }

    #operacoes button {
        height: 90%;
        aspect-ratio: 1 / 1;
    }

    #numeros {
        width: 90%;
        height: 70%;
    }

    #numeros button {
        width: 30%;
        aspect-ratio: 1/1;
    }

    .cancelar{
        height: 20%;
    }

}